{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title" style="color: #fe7a18"><b>OTOMOTİV OUTOMAN</b></h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Otomotiv sektöründeki gelişmeler</h5>
                            <p>
                                2018 yılında Türkiye otomotiv pazarı 2017 yılına göre %35 daralmış; toplam satışlar 642 bin adet seviyesine gerilemiştir. Pazardaki daralmaya, kurun da etkisiyle yükselen fiyatlar ve artan faiz oranları ile azalan alım gücü sebep olmuştur. Hükümet, sektörü desteklemek amacıyla, 31 Ekim 2018 tarihinden itibaren vergi indirimlerini uygulamaya koymuş; böylece sektördeki daralma hızı yavaşlamıştır. 2018’de binek otomobil satışları bir önceki yıla göre %33 oranında düşüşle 486 bin adede gerilerken, hafif ticari araç pazarı %42 düşüşle 135 bin adet seviyesinde gerçekleşmiştir. Ağır ticari araç pazarı ise, geçen yılın %33 altında 21 bin adet seviyesinde olmuştur.



                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Savunma sanayindeki gelişmeler</h5>
                           <p>Savunma sanayinde 2018 yılında iç pazarda yerli ve milli sanayi ön plana çıkmış, alımlarda Türkiye’de geliştirilen ve üretilen ürün ve sistemlere öncelik verilmeye devam edilmiştir.</p>                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">İlk Endüstriyel Girişim</h5>
                            <p>
                                2018'lerin sonuna doğru imalata yöneliş başlar. 1948'de General Electric ile işbirliğine gidilerek, Automan Topluluğu'nun ilk endüstriyel girişimi olan ampul fabrikası kurulur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Faaliyet Alanlarının Genişlemesi</h5>
                            <p>
                                Automan Topluluğu'nun iş alanları önemli ölçüde genişler. Topluluk artık; otomotivden beyaz eşyaya, zirai aletlerden mensucata, likit petrol gazından ısıtma teçhizatına, gıda sanayi ve perakendeciliğinden turizm, finans ve sigortacılık hizmetlerine kadar yaygın bir alanda faaliyet gösterir duruma gelir.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Uluslararası Ortaklıklar</h5>
                            <p>
                                2018'li yıllarda uluslararası şirketlerle ortaklık ve işbirliği yapılarak çeşitli sanayi tesisleri kurulur. İlk otomobil, ilk traktör, ilk buzdolabı, ilk çamaşır makinesi, ilk tüplü LPG gibi pek çok ürün Automan Topluluğu tarafından üretilir. Bu dönemde Fiat ile Tofaş ortaklığı kurulur; daha sonraki yıllarda Ford ile ortaklığa dönüşecek olan Ford-Otosan işbirliği başlar.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Büyüme ve İhracat</h5>
                            <p>
                                2018'lerde Automan Topluluğu, gelişimini hız kesmeden sürdürerek bünyesine yeni şirketler katar; ihracata yönelir ve dış ticaret şirketleri kurar.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">One third width</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">One third width</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">One third width</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">One third width</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">One third width</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">One third width</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                        </div>
                    </div>
                </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
{% endblock %}
