<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% block description %}Araç Alım Satım{% endblock %}">
    <meta name="keywords" content="{% block keywords %}araba,alım,satım,spor,jeep{% endblock %}">
    <meta name="author" content="Tuğçe Nur Gündüz">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}{% include('home/head.html.twig') %}{% endblock %}
    {% block stylesheet %} {% endblock %}
</head>
<body>
{% block header %}{% include('home/header.html.twig') %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block slider %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% include('home/footer.html.twig') %}{% endblock %}
{% block javascripts %}{% include('home/javascripts.html.twig') %} {% endblock %}
</body>
</html>
